<section>
    <div id="about">
        <div class="heading">
            <h1 class="text-center">About MrilQ</h1>

        </div>
        <div class="row">
            <div class="col-md-6 story about-maushumi">

                <div class="row">
                    <div class="col-5 offset-1 text-white">
                        <p>Wellness expert Maushumi developed a keen interest in natural products when she was
                            diagnosed with cancer. Not only did she fight back, with natural products, she founded
                            an award winning company with her discoveries. </p>
                        <a href="/about" class="text-white"><b>OUR FOUNDER'S STORY >>>>></b></a>
                    </div>

                </div>
            </div>
            <div class="col-md-6 story about-science"
                style="background-image:url(/images/ourscience.jpg); height:400; background-size: cover;">
                <div class="row">
                    <div class="col-5 offset-1 text-white">
                        <p>Infused with flowers and herbs, mineral rich soils and pure spring waters - all our
                            products are oil and water based, making them 100% absorbable into your skin. </p>
                        <a href="/whymrilq" class="text-white">OUR SCIENCE >>>>></a>
                    </div>

                </div>
            </div>
        </div>
</section>