<section id="newsletter_home" style="background:#dbef9b">
    <div class="container">
        <div class="row">
            <div id="newsletter_left" class="col-md-5 col-sm-6 offset-md-1">
                <div id="newsletter_info" class="shake">
                    <div id="newsletter_info_inner">
                        <span class="price">10%<span class="custom "></br> Off</span></span>
                        <span class="custom">For A FLAWLESS YOU</span>
                    </div>
                </div>
                <h2>BIRTHDAY BONANZA OFFER</h2>
                <h5>Share your birthday and get a 10% off on your very special day.
                    Along with FREE tips from Maushumi herself.</h5>
            </div>
            <div id="newsletter_right" class="col-md-5 col-sm-4 ">
                <form name="submit-to-google-sheet">
                    <div class="row">
                        <div class="input-group col-6">
                            <input name="email" type="email" id="email" class="form-control"
                                placeholder="Your E-Mail..." required>
                        </div>
                        <div class="input-group col-6">
                            <input name="birthdate" type="text" id="birthday" class="form-control"
                                placeholder="Your Birthdate" required>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="input-group col-6 offset-3 ">
                            <button class="btn btn-primary news-button" type="submit" onclick="ClearForm();">Sign me
                                up, I'm all ears !</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- THIS IS FOR DELIVERY -->
<section>
    <div class="container">
        <div class="row">
            <div class="tfoot-item col-md-3">
                <span class="tfoot-img">
                    <img src="/images/delivery.jpg" />
                </span>
                <span class="tfoot-text">
                    Worldwide delivery <span><a href=""> with Amazon & ushopvdrop.in & .com</a></span>
                </span>
            </div>
            <div class="tfoot-item col-md-3">
                <span class="tfoot-img">
                    <img src="/images/phone.jpg" />
                </span>
                <span class="tfoot-text">
                    Contact us <span><a href="">+ 91 3262310473 </a></span><span><a href="info@mrilq.com"
                            class=" p-l-3p text-white">info@mrilq.com</a></span>
                </span>
                </a>
            </div>
            <div class="tfoot-item col-md-3">
                <span class="tfoot-img">
                    <img src="/images/franchise.jpg" />
                </span>
                <span class="tfoot-text">
                    Franchise <span><a href="">support</a>,
                        <a href="">Success stories</a></span>
                </span>
            </div>
            <div class="tfoot-item col-md-3">
                <span class="tfoot-img">
                    <img src="/images/retailstore.jpg" />
                </span>
                <span class="tfoot-text">
                    RETAIL STORES
                    <span>In <a href="">India & Bangladesh </a></span>
                </span>
            </div>
        </div>
    </div>
</section>