<header class="d-none d-md-block">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade " data-ride="carousel" data-interval="5000">
        <div class="carousel-inner">
            <div class="carousel-item active ">
                <section class="bg-gray"
                    style="background-image:url(/images/frstslide.jpg); width:100%; max-width:100%; background-size:cover; background-repeat:no-repeat;">
                    <div class="container">
                        <div class="row mt-5">
                            <div class=" col-12 mx-auto ">
                                <div class="row">

                                    <div class="col-md-5 offset-md-7 ">
                                        <h3>Invoke the magic of the Panchatatva. </h3>
                                        <p>Permit the five elements of nature to bring out the best in YOU </p>

                                        <a href="/panchatatva" class="custom-btn btn-1 ">How will the five tatvas
                                            help me glow?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="carousel-item">
                <section class="bg-gray"
                    style="background-image:url(/images/menslide.jpg); width:100%; max-width:100%; background-size:cover; background-repeat:no-repeat;">
                    <div class="container">
                        <div class="row mt-5">
                            <div class=" col-12 mx-auto ">
                                <div class="row">

                                    <div class="col-md-4 offset-md-7   ">
                                        <h3>Natural solutions for the men in your life. </h3>
                                        <p>Must-haves for all their skincare, shaving, hair and bodycare needs. </p>

                                        <a href="/more-ways-to-shop/mens" class="custom-btn btn-1 ">Take me to mens
                                            products</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="carousel-item">
                <section class="bg-gray"
                    style="background-image:url(/images/thirdslid.png); width:100%; max-width:100%; background-size:cover; background-repeat:no-repeat;">
                    <div class="container">
                        <div class="row mt-3">
                            <div class=" col-12 mx-auto ">
                                <div class="row">
                                    <div class="col-md-4 offset-md-7  ">
                                        <div class=" ">
                                            <h3>Pure Products, Simple Routines, Expert Advice </h3>
                                            <p>Uncover a new Glowing YOU with 100% natural products.</p>
                                        </div>
                                        <a href="/whymrilq#ingredients" class="custom-btn btn-1 m-t-30">Show me the
                                            ingredients</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="carousel-item">
                <section class="bg-gray"
                    style="background-image:url(/images/fourthslidee.jpg); width:100%; max-width:100%;  background-size:cover; background-repeat:no-repeat;">
                    <div class="container">
                        <div class="row mt-5">
                            <div class=" col-12 mx-auto ">
                                <div class="row">

                                    <div class="col-md-5 offset-md-6   ">
                                        <h3>THE SKIN DIAGNOSTIC
                                        </h3>
                                        <p>Not using products that suit your skin and hair type will strip it of the
                                            natural oils making it looking dull and lifeless. </p>

                                        <a href="#" class="custom-btn btn-1 m-t-30">I want to know my skin/hair type
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>


<header class="d-sm-none" style="margin-top:100px;">
    <div id="mobileviewheader" class="carousel slide carousel-fade " data-ride="carousel" data-interval="5000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <section class="bg-gray"
                    style="background-image:url(/images/frstslide.jpg); width:100%; max-width:100%; background-size:cover; background-repeat:no-repeat; height:200px;">
                    <div class="container">
                        <div class="row ">
                            <div class=" col-12 mx-auto ">
                                <div class="row">

                                    <div class="col-5 offset-7 ">
                                        <h3 style="font-size:15px;">Invoke the magic of the Panchatatva. </h3>
                                        <p style="font-size:10px;">Permit the five elements of nature to bring out
                                            the best in YOU </p>

                                        <a href="/panchatatva" class="custom-btn btn-1 " style="font-size:7px;">How
                                            will the five tatvas help me glow</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="carousel-item">
                <section class="bg-gray"
                    style="background-image:url(/images/mensrangeslider.png); width:100%; max-width:100%; background-size:cover; background-repeat:no-repeat; height:200px;">
                    <div class="container">
                        <div class="row">
                            <div class=" col-12 mx-auto ">
                                <div class="row">

                                    <div class="offset-7 col-5 ">
                                        <h3 style="font-size:15px;">Natural solutions for the men in your life.
                                        </h3>
                                        <p style="font-size:10px;">Must-haves for all their skincare, shaving, hair
                                            and bodycare needs. </p>

                                        <a href="/more-ways-to-shop/mens" class="custom-btn btn-1 "
                                            style="font-size:7px;">Take me to mens products</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="carousel-item">
                <section class="bg-gray"
                    style="background-image:url(/images/thirdslid.png); width:100%; max-width:100%; background-size:cover; background-repeat:no-repeat; height:200px;">
                    <div class="container">
                        <div class="row ">
                            <div class=" col-12 mx-auto ">
                                <div class="row">
                                    <div class="col-5 offset-7  ">
                                        <div class=" ">
                                            <h3 style="font-size:15px;">Pure Products, Simple Routines, Expert
                                                Advice </h3>
                                            <p style="font-size:10px;">Uncover a new Glowing YOU with 100% natural
                                                products.</p>
                                        </div>
                                        <a href="/whymrilq#ingredients" class="custom-btn btn-1 "
                                            style="font-size:7px;">Show me the ingredients</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="carousel-item">
                <section class="bg-gray"
                    style="background-image:url(/images/diagnosticslider.png); width:100%; max-width:100%;  background-size:cover; background-repeat:no-repeat; height:200px;">
                    <div class="container">
                        <div class="row ">
                            <div class=" col-12 mx-auto ">
                                <div class="row">

                                    <div class="col-5 offset-7">
                                        <h3 style="font-size:15px;">THE SKIN DIAGNOSTIC
                                        </h3>
                                        <p style="font-size:10px;">Not using products that suit your skin and hair
                                            type will strip it of the natural oils making it looking dull and
                                            lifeless. </p>

                                        <a href="/special-concerns" class="custom-btn btn-1 " style="font-size:7px;">I
                                            want to know my skin/hair type </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
        <a class="carousel-control-prev" href="#mobileviewheader" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#mobileviewheader" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<div class="container">

    <section class="highlights">
        <div class="row">
            <div class="col-sm-6">
                <a href="">
                    <div class="card border-none mencare">

                        <div class="card-body">
                            <div class="col-md-7">
                                <h2>SPA Products</h2>
                                <p>Pamper your clients with 100% natural, aromatic products. </p>

                            </div>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="">
                    <div class="card border-none quote">
                        <div class="card-body">
                            <div id="quote" class="carousel slide carousel-fade " data-ride="carousel"
                                data-interval="5000">
                                <div class="carousel-inner ">
                                    <div class="carousel-item active">
                                        <div class="container">
                                            <div class="row ">
                                                <div class="col-10 mx-auto m-t-50">
                                                    <h5>"It worked wonders. I'm enjoying my flawless skin after
                                                        decades of acne."</h5>
                                                    <p class="text-center">- Anshu</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-10 mx-auto m-t-50">
                                                    <h5>"I've regrown my hair on my bald patch. I look so much
                                                        younger."</h5>
                                                    <p class="text-center">- Ahuja</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <a class="carousel-control-prev" href="#quote" role="button" data-slide="prev">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#quote" role="button" data-slide="next">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="row m-t-30">
            <div class="col-sm-6">
                <a href="">
                    <div class="card border-none hair">
                        <div class="card-body">
                            <div class="col-md-7">
                                <h2>Intimate Range</h2>
                                <p>Effective natural solutions for those nasty problems.</p>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="">
                    <div class="card border-none teen">
                        <div class="card-body">
                            <div class="col-md-7">
                                <h2>Pure Oils</h2>
                                <p>Pristine oils to soothe your body and your senses.</p>

                            </div>

                        </div>
                    </div>
                </a>
            </div>

        </div>
    </section>




</div>