<section id="quote" class=" " style="background-image:url(/images/advantage.jpg); background-size:cover; ">
    <div class="container">
        <div class=" text-center">
            <h1 class=""><b>Choose Natural. You owe it to mother Earth.</b></h1>
        </div>
        <div class="row m-t-50">
            <ul>
                <h5>MrilQ Products are ....</h5>
                <li>
                    <img src="/images/flower.png" />
                    <span>100% Natural Products
                    </span>
                </li>
                <li>
                    <img src="/images/flower.png" />
                    <span>Made from naturally growing herbs.
                    </span>
                </li>
                <li>
                    <img src="/images/flower.png" />
                    <span>No artificial chemicals or colours, no added sulphates, parabens and dyes.
                    </span>
                </li>
                <li>
                    <img src="/images/flower.png" />
                    <span>Mild and safe even for children as well as expectant and lactating mothers.
                    </span>
                </li>
                <li>
                    <img src="/images/flower.png" />
                    <span>100% Bio-degradable</span>
                </li>
            </ul>
        </div>
    </div>
</section>