<footer class="bg-prime">
    <section>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <img class="img-fluid" src="/images/logo.jpg" width="200px" />

                    </div>
                    <div class="col-2">
                        <h5>FEATURED</h5>
                        <ul>
                            <li>
                                <a href="#">Best sellers</a>
                            </li>
                            <li>
                                <a href="#">Skin type</a>
                            </li>
                            <li>
                                <a href="#">Anti Aging</a>
                            </li>
                            <li>
                                <a href="#">Product Usage</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h5>COMPANY
                        </h5>
                        <ul>
                            <li><a href="/about">About MrilQ </a>
                            </li>
                            <li><a href="">Philanthropy </a>
                            </li>
                            <li><a href="">Careers </a>
                            </li>
                            <li><a href=""> Press </a>
                            </li>
                            <li><a href=""> Franchises </a>

                            </li>
                            <li><a href=""> Our Blog </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h5>INFORMATION</h5>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Franchisee Enquiry</a></li>
                            <li><a href="/faq">FAQs</a></li>
                            <li><a href="/whymrilq">Our Science</a></li>
                            <li><a href="#">Website Policies</a></li>
                            <li><a href="#">Privacy Policy</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <div class="container">
                <p class="text-center">© 2018 MrilQ. All rights reserved!. Powered by <a href="https://www.gurujada.com"
                        target="_blank">Gurujada</a></p>
            </div>
        </div>
    </section>
</footer>
