{{ partial "nav.html" . }}
<section class="m-t-8p" style="background-image:url(/images/panchatatva.jpg)   ">
    <div class="row">
        <div class="container">
            <div class="col-md-5  p-b-30 p-t-30">

                <h2>Invoke the magic of the Panchatatva</h2>

                <h5 class="m-t-20">Permit the five elements of nature to bring out the best in YOU.</h5>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="/images/Panchatatvaimage.jpg" width="430px" height="400px" />
            </div>
            <div class="col-md-7">
                <p>"According to the ancient Indian philosophy of Panchatatva, the entire universe, and thus our bodies,
                    are made up of just five basic Dhatus (Elements): Bhumi (Earth), Apas (Water), Tejas (Fire), Pavana
                    (Air) and Akash (Space). These life forces co-exist and their right balance ensures harmony and thus
                    well-being. It is these forces that bring the balance and harmony to human minds and bodies. Skin
                    being the largest organ is most frequently and easily affected by imbalance of any kind, leading to
                    various acute( short term) or chronic ( long term) skin problems. </p>
                <p>At MrilQ, we want to rewrite your skin story, not with magic of any form but the science and
                    synchronised effect of all the five elements of nature. Mind, body and spirit when align with these
                    forces of nature will give make you glow and shine from within. Because it is your skin your largest
                    organ which is going to receive the goodness and pampering of nature in abundance with us at MrilQ.
                </p>
                <p>All our products at MrilQ, are made to be absorbed 100% by the body, this is possible because only
                    after a deep study of the physiology and working of this beautiful machine called human body have we
                    formulated our products, which come from nature as a blessing to us. </p>
                <p>Get ready, for your skin to GLOW TO THE GODS, and be radiant like never before, hop on and join our
                    initiative to spread the enchantment and goodness of the panchtatva. </p>
                <p><a href="/whymrilq#ingredients">Click here to know the Panchatatva of our products</a></p>
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}