<section class="skin-types">
    <div class="container">
        <div class="heading text-center ">
            <h1>Do you know your Skin Type??</h1>
            <h5>Every skin type has different needs. When you take care of your skin according to your skin
                type, your skin will GLOW with health.</h5>
            <h5> What's your skin type? </h5>
        </div>
        <div class="row">
            <div class="col-md-2 ">
                <a href="/skintype/normal-skin" class="card normalskin">
                    <div class="overlay"></div>
                    <div class="circle">
                        <img src="/images/normalskin.png" height="131px" width="131px" />
                    </div>
                    <p>Normal Skin</p>
                </a>
            </div>
            <div class="col-md-2 ">
                <a href="/skintype/combination-skin" class="card combinationskin">
                    <div class="overlay"></div>
                    <div class="circle">
                        <img src="/images/combinationskin.png" height="131px" width="131px" />
                    </div>
                    <p>Combination Skin</p>
                </a>
            </div>
            <div class="col-md-2 ">
                <a href="/skintype/oily-skin" class="card oilyskin">
                    <div class="overlay"></div>
                    <div class="circle">
                        <img src="/images/oilyskin.png" height="131px" width="131px" />
                    </div>
                    <p>Oily Skin</p>
                </a>
            </div>
            <div class="col-md-2 ">
                <a href="/skintype/sensitive-skin" class="card sensitiveskin">
                    <div class="overlay"></div>
                    <div class="circle">
                        <img src="/images/sensitiveskin.png" height="131px" width="131px" />
                    </div>
                    <p>Sensitive Skin</p>
                </a>
            </div>
            <div class="col-md-2 ">
                <a href="/skintype/dry-skin" class="card dryskin">
                    <div class="overlay"></div>
                    <div class="circle">
                        <img src="/images/dryskin.png" height="131px" width="131px" />
                    </div>
                    <p>Dry Skin</p>
                </a>
            </div>
            <div class="col-md-2 ">
                <a href="/skintype/mature-skin" class="card matureskin">
                    <div class="overlay"></div>
                    <div class="circle">
                        <img src="/images/normalskin.png" height="131px" width="131px" />
                    </div>
                    <p>Mature Skin</p>
                </a>
            </div>
        </div>
    </div>
</section>
</div>