<section id="social_block_home">
    <div class="row mx-auto">
        <div class="">
            <ul>
                <li class="animated fadeInUpShort delay-250 facebook go">
                    <a class="_blank" href="https://www.facebook.com/mrilq/" target="_blank">
                        <img class="img-fluid" width="240px" src="/images/fbm.jpeg">
                        <i class="fa fa-facebook"></i>
                        <span class="social-link"></span>
                    </a>
                </li>
                <li class="animated fadeInUpShort delay-500 instagram go">
                    <a class="_blank" href="https://www.instagram.com/mrilq_cosmeceuticals" target="_blank">
                        <img class="img-fluid" width="240px" src="/images/instam.jpg">
                        <i class="fa fa-instagram"></i>
                        <span class="social-link"></span>
                    </a>
                </li>
                <li class="animated fadeInUpShort delay-750 twitter go">
                    <a class="_blank" href="https://www.twitter.com/MrilQ" target="_blank">
                        <img class="img-fluid" width="240px" src="/images/twitterm.jpg">
                        <i class="fa fa-twitter"></i>
                        <span class="social-link"></span>
                    </a>
                </li>
                <li class="animated fadeInUpShort delay-1000 youtube go">
                    <a class="_blank" href="https://www.youtube.com/watch?v=ho12RAEW8-4" target="_blank">
                        <img class="img-fluid" width="240px" src="/images/youtubem.png">
                        <i class="fa fa-youtube"></i>
                        <span class="social-link"></span>
                    </a>
                </li>
                <li class="animated fadeInUpShort delay-1250 pinterest go">
                    <a class="_blank" href="https://www.linkedin.com/in/mrilq-cosmeceuticals-838836166/"
                        target="_blank">
                        <img class="img-fluid" width="240px" src="/images/pinm.jpg">
                        <i class="fa fa-linkedin"></i>
                        <span class="social-link"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>